$style: first-screen;
.#{$style} {
  min-height: 100vh;
  background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url('./../../img/first-screen/intro.jpg') $yellow no-repeat;
  background-size: cover;
  background-color: $yellow;
}