$styles: service;
.#{$styles} {
  padding: 50px 0;

  @media screen and (min-width: 768px) {
    padding: 70px 0;
  }

  @media screen and (min-width: 992px) {
    padding: 100px 0;
  }

  &__card {
    display: flex;

    &-icon {
      @include svg($S030);
      margin-right: 15px;

     @include mq($sc375) {
       margin-right: 20px;
     }
    }

    &-title {
      @include text($S014, 700, $dimGray);
      font-family: $first-font;
      text-transform: uppercase;
      line-height: 1;
      margin-bottom: 10px;

      @include mq($sc375) {
        margin-bottom: 15px;
      }
    }
    &-text {
      @include text($S015, 400, $lightStateGray);
      font-family: $base-font;
      line-height: $S020;

      @include mq($sc414) {
        line-height: $S024;
      }
    }
  }
}
