@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  font-family: $base-font;
  font-size: $base-size;
}

.mb-30 {
  margin-bottom: 30px;
}
