// COLORS:

$white: #ffffff;
$black: #000000;
$dark: #242526;
$brown: #544C4A;
$light: #878A8C;
$space: #F2F2F2;
$grey: #D9D9D9;
$green: #5A735B;

// SIZE:

$base-size: 16px;

$S100: 100px;
$S072: 72px;
$S070: 70px;
$S065: 65px;
$S060: 60px;
$S055: 55px;
$S050: 50px;
$S048: 48px;
$S040: 40px;
$S039: 39px;
$S036: 36px;
$S030: 30px;
$S025: 25px;
$S024: 24px;
$S020: 20px;
$S018: 18px;
$S016: 16px;
$S015: 15px;
$S014: 14px;
$S013: 13px;
$S012: 12px;

@function px_to_rem($target, $context: $base-size) {
  @if $target==0 {
    @return 0;
  }

  @return $target / $context + 0rem;
}

// FONTS:

$base-font: 'Montserrat', sans-serif;

// SCREENS:

$sc320: 320px;
$sc375: 375px;
$sc414: 414px;
$sc480: 480px;
$sc768: 768px;
$sc860: 860px;
$sc992: 992px;
$sc1024: 1025px;
$sc1280: 1280px;
$sc1366: 1366px;
$sc1440: 1440px;
$sc1700: 1700px;
