// COLORS:

$white: #ffffff;
$black: #000000;
$cyan: #95e1d3;
$dimGray: #333333;
$lightStateGray: #999999;
$salmon: #f38181;
$silver: #cccccc;
$yellow: #fce38a;
$lightGray: #e5e5e5;
$mintCream: #f8f8f8;
$C011: #f5f5f5;
$C010: #e7e7e7;

// SIZE:

$base-size: 16px;

$S150: 150px;
$S072: 72px;
$S030: 30px;
$S024: 24px;
$S020: 20px;
$S018: 18px;
$S016: 16px;
$S015: 15px;
$S014: 14px;
$S013: 13px;
$S012: 12px;

// FONTS:

$base-font: "Montserrat", sans-serif;
$first-font: "Roboto", sans-serif;
$second-font: "Kaushan Script", cursive;

// SCREENS:

$screen-iphone-6: 376px;
$screen-iphone-plus: 415px;
$screen-tablet-small: 480px;
$screen-tablet: 769px;
$screen-tablet-large: 861px;
$screen-netbook: 993px;
$screen-desktop: 1025px;
$screen-desktop-large: 1281px;
$screen-hd: 1367px;
$screen-fullhd: 1441px;
$screen-retina: 1701px;
